{#
/**
 * @file
 * Default theme implementation to list bundles available for adding content.
 *
 * This list is displayed on the add media admin and the media bundle page.
 *
 * Available variables:
 *   - bundles: A list of media bundles, description of this media bundle and
 *     link to create media of this bundle, each with the following properties:
 *   - add_link: Link to create a piece of content of this bundle.
 *   - description: Description of this bundle of content.
 *
 * @see template_preprocess_media_add_list()
 *
 * @ingroup themeable
 */
#}
{% if bundles is not empty %}
    <dl>
        {% for bundle in bundles %}
            <dt>{{ bundle.add_link }}</dt>
            <dd>{{ bundle.description }}</dd>
        {% endfor %}
    </dl>
{% else %}
<p>
    {% set create_media_bundle = path('media.bundle_add') %}
    {% trans %}
    You have not created any media bundles yet. Go to the <a href="{{ create_media_bundle }}">media bundle creation page</a> to add a new media bundle.
    {% endtrans %}
</p>
{% endif %}
